<div class="section about">
    <h2 class="section__title">About</h2>
    <div class="about__content">
    <p>I am a passionate tech enthusiast with a deep interest in Web and App Development. Currently, I am pursuing a B.Tech in Information Technology at CSPIT, CHARUSAT, and am gaining valuable experience as an SDE Intern at IBM. I possess expertise in Flutter Development, UI/UX Design, React.js, and Tailwind CSS for web development, as well as Node.js and Express.js for robust backend solutions.</p>
    <p>Noteworthy Achievement of my carear is ranking in Top 10 Teams at hackathon hosted by IEEE SB at DAIICT, Gandhinagar. As UI/UX Designer my several apps and websites designs are currently in used in production.</p>
    <p>Additionally, I have did internship as Flutter Developer, Ul/UX Designer and Java Developer. This diverse experience has provided me with a holistic understanding on front-end and back-end technologies, as well as user experience, allowing me to make meaningful contributions across various facets of technology projects.</p>
    </div>
</div>